@model WorkoutTracker.Models.WorkoutModel

@{
    ViewData["Title"] = "Delete";
}


<div class="row mt-5">
    <h1 class="text-danger text-center">Ta bort pass</h1>
    <div class="col-md-4">
        <section class="card shadow-sm mb-4">
            <div class="card-header py-3 text-center">
                <h2>Är du säker på att du vill ta bort detta pass?</h2>
            </div>
            <div class="card-body p-4">
                <h3 class="card-title">@Html.DisplayFor(model => model.WorkoutType.Name)</h3>
                <p><span class="fw-bold">@Html.DisplayNameFor(model => model.Date):</span> @Html.DisplayFor(model =>
                    model.Date)</p>
                <p><span class="fw-bold">@Html.DisplayNameFor(model => model.Duration):</span> @Html.DisplayFor(model =>
                    model.Duration)min</p>
                <p><span class="fw-bold">@Html.DisplayNameFor(model => model.Notes):</span> @Html.DisplayFor(model =>
                    model.Notes)</p>

                <h2 class="fs-4">Övningar</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Övning</th>
                            <th>Set</th>
                            <th>Reps</th>
                            <th>Vikt (kg)</th>
                        </tr>
                    </thead>
                    @if (Model.WorkoutExercises == null || !Model.WorkoutExercises.Any())
                    {
                        <p>
                            Det finns inga övningar registrerade för detta pass.
                        </p>
                    }
                    else
                    {
                        @foreach (var exercise in Model.WorkoutExercises)
                        {
                            <tbody>
                                <tr>
                                    <td>@exercise.Exercise?.Name</td>
                                    <td>@exercise.Sets</td>
                                    <td>@exercise.Reps</td>
                                    <td>@exercise.Weight kg</td>
                                </tr>
                            </tbody>

                        }
                    }
                </table>

                <div class="d-flex justify-content-end mt-4">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Ta bort" class="btn btn-danger px-3" />
                        <a asp-action="Index" class="btn btn-outline-dark px-3">Avbryt</a>
                    </form>
                </div>
        </section>
    </div>
</div>
